<section>
  <div class="sigup pt-24 pb-24 bg-primary-200">
    <p class="fz-24 fw-700 mr-24">加入會員取得 9 折優惠</p>
    <button type="button" class="bg-sigup-btn white pt-12 pb-12 pr-24 pl-24">馬上註冊</button>
  </div>
</section>
<section class="bg-neutral-100">
  <footer class="container pt-64 pb-64">
    <div class="footerList mb-24">
      <div class="logo">
        <a class="fw-700 fz-20 ls-4-4 pt-8 pb-8 pl-12 pr-12" href="./index.html">URBNSTEP</a>
        <div class="logo-circle"></div>
      </div>
      <ul class="footer-menu">
        <li class="mr-40"><a class="menu-item pt-12 pb-12" href="./index.html">商品列表</a></li>
        <li><a class="menu-item pt-12 pb-12" href="#">品牌故事</a></li>
      </ul>
    </div>
    <div class="footer-border mb-32"></div>
    <div class="tac">
      <p class="fz-14 fw-400 neutral-600 mb-4">Copyright ©2025 URBNSTYLE</p>
      <p class="fz-14 fw-400 neutral-600">All Rights Reserved.</p>
    </div>
  </footer>
</section>